/__history
/Android64
Embarcadero example 1 (works).lnk
*.res
*.dsk
AndroidManifest.template.xml
*.local
*.dsv
*.deployproj
/Win32
/__recovery
ai.pas
TakePhotoAction crashes android app and starts again on xiaomi Android 12 - FMX - Delphi-PRAXiS \[en\].url
*.~dsk
/Permissions
